{
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": "./config/webpack.dev.conf.js"
        },
        "node": {
          "extensions": [".js",".jsx"]
        }
      }
    },
    "plugins": [
      "react",
      "import"
    ],
    "extends": [
      "airbnb-base"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
      },
      "sourceType": "module"
    },
    "globals": {
      "EPGJS_COMM": true
    },
    "rules": {
      "arrow-body-style": ["error", "as-needed"],
      "comma-dangle": ["error", "never"],
      "constructor-super": 1,
      "eol-last": 2,
      "import/export": 1,
      "import/extensions": 0,
      "import/first": 1,
      "import/named": 1,
      "import/newline-after-import": 1,
      "import/no-absolute-path": 1,
      "import/no-deprecated": 1,
      "import/no-duplicates": 1,
      "import/no-dynamic-require": 1,
      "import/no-extraneous-dependencies": 1,
      "import/no-mutable-exports": 1,
      "import/no-named-as-default": 1,
      "import/no-webpack-loader-syntax": 1,
      "indent": [1, 2],
      "no-alert": 0,
      "no-console": 1,
      "no-const-assign": 1,
      "no-debugger": 1,
      "no-lone-blocks": 0,
      "no-mixed-spaces-and-tabs": 1,
      "no-this-before-super": 1,
      "no-undef": 1,
      "no-unreachable": 1,
      "no-unused-vars": 2,
      "no-var": 2,
      "react/display-name": [ 1, {"ignoreTranspilerName": false }],
      "react/jsx-boolean-value": 1,
      "react/jsx-key": 1,
      "react/jsx-no-duplicate-props": 1,
      "react/jsx-no-undef": 1,
      "react/jsx-pascal-case": 1,
      "react/jsx-uses-react": 1,
      "react/jsx-uses-vars": 1,
      "react/jsx-wrap-multilines": 0,
      "react/no-danger": 1,
      "react/no-did-mount-set-state": 1,
      "react/no-did-update-set-state": 1,
      "react/no-direct-mutation-state": 1,
      "react/no-set-state": 0,
      "react/no-unknown-property": 1,
      "react/prefer-es6-class": 1,
      "react/prop-types": 1,
      "react/react-in-jsx-scope": 1,
      "react/self-closing-comp": 1,
      "react/sort-comp": 1,
      "semi": [2, "never"],
      "valid-typeof": 1,
    }
}